body{
    background-image:url(../img/playbooks_beta.max_1000x1000.0.webp);
    background-color:aqua;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

h2,h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#header{
    font-size: 3rem;
}

.book-list{
    margin-top:45px;
    visibility:hidden;
}